.user-header {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.user-header a {
  font-size: 14px;
  color: var(--blue-dark);
  text-decoration: none;
}

.user-header h2 {
  font-size: var(--text-2xl);
}

.user-role {
  display: inline-block;
  width: fit-content;
  padding: var(--space-1) var(--space-3);
  border-radius: var(--radius-md);
  background: var(--blue);
  font-size: var(--text-md);
  color: var(--white-pure);
}