.content {
  display: flex;
  flex-direction: column;
  padding: var(--space-2);
}

.backLink {
  align-self: flex-start;
  color: var(--blue-dark);
  width: fit-content;
}

.backLink:hover {
  color: var(--blue);
}

.formBox {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: var(--space-2);
}
.formBox h2 {
  color: var(--blue);
}
