.container {
  padding: var(--space-2);
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.label {
  font-size: var(--text-md);
  font-weight: var(--font-medium);
}

.input {
  padding: var(--space-3);
  font-size: var(--text-md);
  border-radius: var(--radius-md);
  border: 1px solid var(--border-default);
  outline: none;
}

.input:focus {
  border-color: var(--blue);
}
