.card {
  background: var(--white-pure);
  border-radius: var(--radius-md);
  border: 1px solid var(--border-default);
  padding: var(--space-4);
  max-width: 60rem;
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  gap: var(--space-3);
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-2);
}

.courseInfo {
  display: flex;
  align-items: center;
  gap: var(--space-2);
}

.courseTitle {
  font-size: var(--text-md);
  font-weight: var(--font-semibold);
  color: var(--black-soft);
}

.courseStatus {
  font-size: var(--text-xs);
  font-weight: var(--font-semibold);
  padding: var(--space-2);
  border-radius: var(--radius-md);
  text-transform: uppercase;
}

.published {
  background-color: var(--success);
  color: var(--success-soft);
}

.draft {
  background-color: var(--warning);
  color: var(--warning-soft);
}

.badge {
  font-size: var(--text-sm);
  font-weight: var(--font-semibold);
  padding: var(--space-3);
  border-radius: var(--radius-md);
  background-color: var(--blue);
  color: var(--white-pure);
  white-space: nowrap;
}

.moduleTitle {
  font-size: var(--text-2xl);
  font-weight: var(--font-bold);
  line-height: 1.2;
}

.meta {
  display: flex;
  gap: var(--space-3);
  font-size: var(--text-sm);
  color: var(--black-soft);
}

.meta strong {
  color: var(--blue);
}
