* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  /*Breakpoints*/
  --bp-sm: 30rem; /* 480 px */
  --bp-md: 48rem; /* 768 px */
  --bp-lg: 64rem; /* 1024 px */
  --bp-xl: 80rem; /* 1280 px */

  --text-xs: 0.75rem; /* 12px */
  --text-sm: 0.875rem; /* 14px */
  --text-md: 1rem; /* 16px (base) */
  --text-lg: 1.125rem; /* 18px */
  --text-xl: 1.25rem; /* 20px */
  --text-2xl: 1.5rem; /* 24px */
  --text-3xl: 2rem; /* 32px */

  /*font weight*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semibold: 600;
  --font-bold: 700;

  --leading-tight: 1.2;
  --leading-normal: 1.5;

  --space-1: 0.25rem; /* 4px */
  --space-2: 0.5rem; /* 8px */
  --space-3: 0.75rem; /* 12px */
  --space-4: 1rem; /* 16px */
  --space-5: 1.25rem; /* 20px */
  --space-6: 1.5rem; /* 24px */
  --space-8: 2rem; /* 32px */
  --space-10: 2.5rem; /* 40px */
  --space-12: 3rem; /* 48px */

  --radius-sm: 4px;
  --radius-md: 8px;

  --transition-fast: 0.15s ease;
  --transition-normal: 0.3s ease;

  --white-pure: #ffffff;
  --white-soft: #f7f7f9;

  --gray-100: #e5e5ea;
  --gray-300: #c7c7cc;
  --gray-500: #8e8e93;

  --black-soft: #1c1c1f;
  --black-pure: #000000;

  --blue: #0958e0;
  --blue-dark: #032969;

  --bg-page: var(--white-soft);
  --bg-surface: var(--white-pure);
  --bg-muted: var(--gray-100);

  --text-primary: var(--black-soft);
  --text-secondary: var(--gray-500);
  --text-inverse: var(--white-pure);

  --border-default: var(--gray-300);

  --success: #22c55e;
  --success-soft: #dcfce7;

  --warning: #facc15;
  --warning-soft: #fef9c3;

  --error: #ef4444;
  --error-soft: #fee2e2;
}

body {
  font-family: var(--font-body);
  font-size: var(--text-md);
  line-height: var(--leading-normal);
  background-color: var(--bg-page);
  color: var(--text-primary);
}

h1,
h2,
h3,
h4,
h5,
h6,
.title {
  font-family: var(--font-title);
  line-height: var(--leading-tight);
  color: var(--black-soft);
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.pageContainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.button {
  cursor: pointer;
  padding: var(--space-3);
  font-size: var(--text-md);
  color: var(--white-pure);
  border-radius: var(--radius-md);
  border: none;
  background-color: var(--blue);
}

.button:hover {
  filter: brightness(0.9);
  transition: var(--transition-fast);
}

.form {
  width: 37.5rem;
  max-width: 100%;

  display: flex;
  flex-direction: column;
  gap: var(--space-3);

  padding: var(--space-6);
  border-radius: var(--radius-md);
  border: 1px solid var(--border-default);
  background-color: var(--bg-surface);
}

.form:focus-within {
  border-color: var(--blue);
}

.linkForm {
  font-size: var(--text-sm);
  color: var(--black-pure);
  text-decoration: none;
}

.linkForm:hover {
  text-decoration: underline;
}

@media (max-width: var(--bp-sm)) {
  .form {
    padding: var(--space-4);
  }
}
