.header {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-3);
  background-color: var(--black-soft);
}

.header h2 {
  color: var(--white-pure);
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: var(--space-3);
}

.nav a {
  color: var(--white-pure);
}

.nav a:first-child:hover {
  color: var(--blue);
}

.nav a:hover {
  color: var(--red);
  text-decoration: underline;
}
