.main {
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
}

.header {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.footer {
  text-align: center;
}
